#section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#charactersDiv {
    width: 10rem;
    background-color: red;
    justify-content: center;
    align-items: center;
}