article {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#section {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

img {
    height: 200px;
    justify-content: center;
    align-items: center;

}

img:hover {
    transform: scale(1.3);
}

input {
    border-color: rgb(222, 21, 195);
    border-radius: 1rem;
}



#charactersDiv {
    background-color: whitesmoke;
    border-radius: 1rem;
    display: flex;
    flex-flow: column wrap;
    width: 15rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    border: solid 3px green;
    background-color: coral;
}